<h2>Products Paginate</h2>

<div class="container">
{{#each docs}}
  <div class="tarjeta">
    <div class="titulo">{{this.title}}</div>
    <div class="cuerpo">
      <img src="{{this.thumbnail}}" alt="muestra" />
      <br>
      <span class="description">Descripción: {{this.description}}</span>
    </div>
    <div class="pie">
      <a href="#">${{this.price}}</a>
    </div>
  </div>
{{/each}}

</div>

<div class="container">
 {{#if hasPrevPage}}
  <a href="{{prevLink}}">Anterior</a>
 {{/if}}

 {{#if hasNextPage}}
  <a href="{{nextLink}}">Siguiente</a>
 {{/if}}
</div>
