<form id="form-paginate">
  |<label for="page">Página:</label>
  <input id="page" type="number" />

  <label for="limit">Limite:</label>
  <input id="limit" type="number" />

  <button class="btn" type="submit">Ir</button>|
</form>
<p id="msgAddProduct"></p>
<div class="container">
  {{#each docs}}
    <div class="tarjeta">
      <div class="titulo">{{this.title}}</div>
      <div class="cuerpo">
        <img src="{{this.thumbnail}}" alt="muestra" />
        <br />
        <span class="description">Descripción: {{this.description}}</span>
        <br />
        <span class="description">Precio: ${{this.price}}</span>
      </div>
      <div class="pie">
        <button
          id="btnAddToCart"
          class="btn"
          onclick="showDetail('{{this._id}}')"
        >Ver detalle</button>
        <button class="btn" onclick="addProductCart('{{this._id}}')">Agregar al
          carrito</button>
      </div>
    </div>
  {{/each}}
</div>

<div class="container">
  {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
  {{/if}}

  {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
  {{/if}}
</div>

<script src="/static/js/paginate.js"></script>