<div class="contain_profile">

  <h2 class="">Mi perfil</h2>

  <ul>
    <li>Nombre: <span>{{first_name}}</span></li>
    <li>Apellido: <span>{{last_name}}</span></li>
    <li>Edad: <span>{{age}}</span></li>
    <li>Rol: <span>{{roles}}</span></li>
    <li>Email: <span>{{email}}</span></li>
  </ul>

  <a href="/admin">
    <button class="btn_git">
      Administrar productos
    </button>
  </a>

</div>